body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    background-image: url("images/damask.png");
    background-repeat: repeat;
    background-color: #cccccc;
    padding:2em;
}
#headerBox {
    background-color: #32352e;
    color: white;
    max-width: 400px;
    margin: auto;
    padding: 1em;
    border: 5px double white;
    text-align: center;
}
header h1 {
    font-family: 'French Script MT';
    font-size: 3em;
    margin-bottom: 0px;
}
main {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    max-width: 80%;
    margin: auto;
    border: 5px double #32352e;
    border-top: none;
    padding: 1em;
}
button {
    margin: 1em 0em;
    font-size: 1.5em;
}
main div {
    padding: .8em;
}
img {
    max-width: 100%;
}
#assignments {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-self: center;
    
}
#assignments h1 {
    grid-column: span 3;
    text-align: center;
}
#quiz {
    grid-column: span 3;
   }
fieldset {
    display: grid;
}
.submits {
    margin: 1em;
}
#about {
    display:none;
}
#classesList {
    display: none;
}
#favQuote {
    display: none;
}
#classHead {
    margin-left: 40px;
}
#classTable {
    border:2px solid; 
    margin-left: 40px;
}
    #classTable th, td {
        padding: 5px;
        text-align: center
    }
footer {
        text-align: center;
    }