@media only screen and (min-width: 904px) {
    header {
        text-align: center;
        grid-template-columns: 1fr 55% 1fr;
    }

        header > img {
            width: 150px;
            height: auto;
        }

    .headText {
        margin: 2em;
    }

        .headText h1 {
            font-size: 3em;
        }

    .subHead {
        font-size: 1.5em;
    }

    #conditions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        max-width: 150px;
        padding: .8rem;
        margin: 1em 0em 1em 0em;
        color: white;
        background-color: #b6dde8;
        border: solid 2px #215869;
        font-size: 1.1em;
        box-shadow: 2px 2px 5px 2px #2f3e0f;
    }

        #conditions img {
            width: 80px;
            height: auto;
        }

        #conditions p {
            margin: .3em;
            color: #100f0f;
        }

  

    nav ul.hide {
        display:block;
    }
    #menubar {
        display: none;       
        
    }
    
   
    #navList {
        display:flex;
        justify-content:center;
        align-items:center;
        list-style-type: none;
        margin: 0;
        padding: 1.2em;
       
    }

        #navList li {
          
            
            line-height: 1.3em;
        }

            #navList li a {
                
                text-decoration: none;
                color: #100f0f;
                font-family: 'Volkhov', serif;
                font-size: 1.2em;
                border-top: none;
                padding: 0;
                margin: 1em 2em;
            }

                #navList li a:hover {
                    background-color: transparent;
                    color: white;
                }
    #menu {
        display: none;
    }

    #wrapper {
        font-size:1.1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 4em;
    }
    .imagewrapper:hover {
       
        box-shadow: 1px 1px 5px #999;
       
        
    }

    footer div {
        float: right;
        margin-top: 50px;
        margin-right: 15%;
        color: white;
    }
}
