body {
    font-family: 'EB Garamond', serif;
    font-size: 14px;
    color: #100f0f;
    background-color: #f8f8f8;
}

header {
    display: grid;
    grid-template-columns: 1fr 70%;
    justify-items: center;
    align-items: center;
    background-color: #76923c;
}

    header > img {
        width: 80%;
        height: auto;
    }

@media only screen and (max-width:903px) {
    #conditions {
        display: none
    }
}

.headText {
    text-align: center;
}

    .headText h1 {
        font-family: 'Merriweather', serif;
        font-size: 5.5vw;
        color: white;
        margin: 0;
    }

.subHead {
    font-family: 'EB Garamond', serif;
    font-size: 3.5vw;
    color: #100f0f;
    font-style: italic;
}

#headerNav {
    background-color: #b6dde8;
    color: #100f0f;
    font-family: 'Volkhov', serif;
    box-shadow: 0px 0px 20px 8px #9fc9d4 inset;
    text-align: center;
}

#navButton {
    margin: 2%;
    display: inline;
    background: transparent;
    border: none;
    font-size: 1.6em;
    color: #100f0f;
    vertical-align: middle;
}

nav ul.hide {
    display: none;
}

#navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

    #navList li a {
        display: block;
        text-decoration: none;
        padding: .8rem 2%;
        color: #100f0f;
        border-top: 1px solid rgba(0,0,0,0.3);
        font-size: 1.1em;
    }

        #navList li a:hover {
            background-color: rgba(0,0,0,.05)
        }

#menu {
    display: inline;
    margin: 0;
    font-size: 1.2em;
    vertical-align: middle;
    color: #100f0f;
}

main {
    text-align: center;
    max-width: 900px;
    margin: auto;
    font-size:16px;
}

.hero {
    position: relative;
}

    .hero img {
        max-width: 95%;
    }

.weathersummary {
    max-width: 200px;
    width: 50%;
    background-color: rgba(33, 88, 105, 0.80);
    position: absolute;
    top: 5%;
    left: 5%;
    padding-bottom: 1em;
}

.weatherdetails p {
    color: white;
    margin: 0;
}

.weatherdetails span {
    color: #ffff99;
}

.weathersummary h3 {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width:904px) {
    #forcast {
        display: none;
    }
}

article {
    background-color: #b6dde8;
    max-width: 95%;
    margin: auto;
}

    article h2 {
        text-align: left;
        padding: 1em 0em 0em .5em;
        margin-bottom: 0;
    }

    article h4 {
        margin: 0em 1em;
        text-align: left;
    }

    article img {
        width: 92%;
        margin: auto;
        padding: 0em 0.5em;
    }

@media only screen and (min-width: 418px) {
    article img {
        float: right;
        max-width: 290px;
        padding: 0em 1em;
        margin-bottom: 3em;
    }
}

article p {
    text-align: left;
    padding: 0em 1em 1em 1em;
}

footer {
    background-color: #215869;
    text-align: center;
}

    footer div {
        color: white;
    }

    footer img {
        padding: 1em;
        max-width: 250px;
    }

.clearfix {
    overflow: auto;
}

#footerNav {
    background-color: black;
    color: white;
    padding: .5em;
}

    #footerNav li {
        display: inline;
        margin: 4%;
    }

        #footerNav li a {
            color: white;
        }

            #footerNav li a:hover {
                color: #215869
            }

            #footerNav li a:visited {
                color: white;
            }
#navList li a#visitedPreston {
    background-color: #215869;
    color: white;
}
